@model ASPNET_MVC5.Models.Pessoa
@{
    ViewBag.Title = "Estudos ASPNET MVC";
}

<h2>David Lucas</h2>
<br />
<br />

@using (Html.BeginForm("List", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>INFORMAÇÔES DE PESSOAS</legend>

        <div>
            @Html.LabelFor(x => x.PessoasID)
        </div>
        <div>
            @Html.EditorFor(x => x.PessoasID)
        </div>


        <div>
            @Html.LabelFor(y => y.Nome)
        </div>
        <div>
            @Html.EditorFor(a => a.Nome)
        </div>


        <div>
            @Html.LabelFor(t => t.Tipo)
        </div>
        <div>
            @Html.EditorFor(g => g.Tipo)
        </div>


        @*BOTÃO DE GRAVAR NO INDEX*@
        <input type="submit" name="BOTÃOGRAVAR" value="Gravar" />

    </fieldset>
}
